.app{
    padding: 2rem;
    width: 100%;
    header {
        display: flex;
        justify-content: center;
        h1 {
            font-size: 40px;
        }
    }
    footer{
        margin-top: 10rem;
        a {
            text-decoration: none;
            color: #343434;
        }
    }
}